<%- include('../partials/header') %>
<div class="intro">
  <% if (user) { %>
  <h1> My Info </h1>
  <% if (user.avatar)  { %>
    <img src="<%= user.avatar %>" width="400">
    <p> Name: <%= user.name %> </p>
    <p> E-Mail: <%= user.email %> </p>
    <p> Date Joined: <%= user.createdAt.toLocaleDateString() %></p>
  <% } else { %>
  <img src="images/convoh-logo.png" class="circle responsive-img" width="400">
  <% } %>
  
  <% } else { %>
    <h1>Welcome to ConvOh!</h1>
    <h2>Connect with different people from different backgrounds.<br><br>Share your opinions, and don't forget to have fun!<br><br>This is ConvOh!</h2>
    <h2>Login with <a href="/auth/google">Google</a> to get started!</h2>
  <% } %>
</div>

<%- include('../partials/footer') %>