<%- include('../partials/header') %>

<div class="intro">
    <h1>Welcome to ConvOh!</h1>
    <a href="/posts/new">Click here to start a ConvOh!</a>
    <% posts.forEach(function(post) { %>
      <div>
        <h2><%= post.title %></h2>
        <h2><%= post.displayName %></h2>
        <a href="/posts/<%= post._id %>">Join the ConvOh</a>
      </div>
      <% }); %>
</div>

<%- include('../partials/footer') %>