<%- include('../partials/header') %>

<div class="intro">
    <h1>Welcome to ConvOh!</h1>
    <a id="start-convoh" href="/posts/new">Start ConvOh</a>
    <% posts.forEach(function(post) { %>
      <a id="post" href="/posts/<%= post._id %>">
      <div id="post-container">
        <p id="username">By <%= post.username %> Posted <%=post.createdAt.toLocaleDateString()%></p>
          <p id="title" href="/posts/<%= post._id %>"><%= post.title %></p>
        <div id="tag-container"><p id="tag"><%= post.tag %></p></div>
      </div>
    </a>
      <% }); %>
</div>
<%- include('../partials/footer') %>