<%- include('../partials/header') %>

<div class="intro">
    <h1>Welcome to ConvOh!</h1>
    <section id="show-page">
      <div><%= post.title %></div>
      <div><%= post.content %></div>
      <div><%= post.tag %></div>
    </section>
</div>

<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
  action="/posts/<%= post._id %>/comments">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>

<% if (post.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Content</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% post.comments.forEach(function(comment) { %>
        <tr>
          <td><%= comment.createdAt.toLocaleDateString() %></td>
          <td><%= comment.content %></td>
          <td><%= comment.username %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
