<%- include('../partials/header') %>

<div class="intro">
    <div id="lower-heading">
        <h1><%= post.title %></h1>
        <a href="/"><%= post.username %></a>
        <p id="show-tag"><%= post.tag %></p>
    </div>
    <section id="show-page">
      <div id="content-container">
          <p id="post-content"><%= post.content %></p>
          <p>Posted at <%= post.createdAt.toLocaleTimeString() %></p>
    </div>
    </section>
    <br><br><h2>Add to the ConvOh</h2>
    <form id="add-comment-form" method="POST"
      action="/posts/<%= post._id %>/comments">
      <textarea class ="content" name="content"></textarea>
      <input id="submit" type="submit" value="Comment">
    </form>
</div>


<% if (post.comments.length) { %>
    <div id="comments-section">
      <% post.comments.forEach(function(comment) { %>
        <p><%= comment.content %></p>
          <p>Posted by <strong><%= comment.username %></strong> on <%= comment.createdAt.toLocaleDateString() %></p>
          <% if (comment.user.equals(user && user._id)) { %>
            <div id="update-delete">
              <label for="comment-edit">Edit Comment:</label>
              <form action="/comments/<%= comment._id %>?_method=PUT" method="POST" class ="edit-form">
                <textarea name="content" id="comment-edit"><%= comment.content %></textarea>
                <input id="edit" type="submit" value="Update Comment">
              </form>
              <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <input id="delete" type="submit" value="Remove Comment">
              </form>
          </div>
        <% } %>
    <% }); %>
      </div>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
